@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
}
.home_background {
  position: relative;
}
.home_background img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.blur_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1px);
}
.blur_overlay::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #fccfba 0%,
    rgba(252, 207, 186, 0.88) 39.58%,
    rgba(252, 207, 186, 0.78) 67.19%,
    rgba(252, 207, 186, 0.2) 100%
  );
}
.logo img {
  position: absolute;
  top: 14.5rem;
  left: 7rem;
  z-index: 1;
}
.logo p {
  position: absolute;
  color: rgba(51, 51, 51, 0.85);
  top: 25rem;
  left: 2.7rem;
  width: 82%;
  z-index: 1;
font-family: "Roboto", sans-serif;
  line-height: 1.2rem;
  text-align: center;
}
.get_started_container {
  position: absolute;
  text-align: center;
  top: 33rem;
  left: 10rem;
  z-index: 1;
}
#get_started_button {
  display: inline-block;
  color: rgba(51, 51, 51, 0.85);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.arrow {
  margin-left: 4px;
  font-size: 19px;
}
@media screen and (max-width:412px){
  .logo img{
    position: absolute;
    top: 17rem;
    left: 6.7rem;
    z-index: 1;
  }
  .logo p {
    position: absolute;
    color: rgba(51, 51, 51, 0.85);
    top: 27rem;
    left: 1.4rem;
    width: 89%;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    line-height: 1.2rem;
    text-align: center;
  }
  .get_started_container{
    left: 9.55rem;
    top: 34rem;
  }
}
@media screen and (max-width:393px){
  .logo img{
    position: absolute;
    top: 13rem;
    left: 6rem;
    z-index: 1;
  }
  .logo p {
    position: absolute;
    color: rgba(51, 51, 51, 0.85);
    top: 23rem;
    left: 1.15rem;
    width: 89%;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    line-height: 1.2rem;
    text-align: center;
  }
  .get_started_container{
    left: 9rem;
    top: 30.5rem;
  }
}
@media screen and (max-width:360px){
  .logo img{
    position: absolute;
    top: 12rem;
    left: 5rem;
    z-index: 1;
  }
  .logo p {
    position: absolute;
    color: rgba(51, 51, 51, 0.85);
    top: 22rem;
    left: 1.15rem;
    width: 89%;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    line-height: 1.2rem;
    text-align: center;
  }
  .get_started_container{
    left: 8rem;
    top: 30rem;
  }
}
